@import '../styles/variables.scss';

h1 {
  color: $color-secondary;
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 2rem 0;

  a {
    background-color: $color-blog-post;
    color: $color-secondary;
    display: block;
    padding: 2rem;
    text-decoration: none;
    border-radius: 20px;
  }

  a:hover {
    background-color: $color-blog-hover;
  }

  h2 {
    margin-bottom: 1rem;
    color: $color-secondary;

  }

  p {
    color: $color-secondary;
    font-size: .9rem;
    font-style: initial;
  }
}