@import '../styles/variables.scss';

.header {
  margin-bottom: 3rem;
}

.contact-container {
  margin-bottom: 2rem;
}

.contact-link {
  color: $color-nav-hover;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 1rem;

  &:hover {
    color: $color-nav;
  }
}